* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 322px;
}

@media (max-width: 1024px) {
  .App {
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}
